@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  	font-weight: normal;
 	font-style: normal;
}
.shortcut {
	height: 31px;
	background-color: #f1f1f1;
	line-height: 31px;
}
.shortcut_fl li {
	float: left;
}
.shortcut_fl li a {
	display: block;
	height: 31px;
	line-height: 31px;
}
.shortcut_two {
	color: #c81623;
}
.shortcut_nav .sc_ge {
	width: 1px;
	height: 15px;
	background-color: #ccc;
	margin: 9px 12px 0;
}
.shortcut_nav li {
	float: left;
}
.shortcut_nav li a {
	padding: 0 5px;
}
.shortcut_nav .sc_icon {
	font-family: 'icomoon';
	font-size: 16px;
}
.header {
	position: relative;
	height: 106px;
}
.logo {
	font-size: 0;
	padding-top: 25px;
}
.search {
	position: absolute;
	top: 25px;
	left: 348px;
}
.search input {
	float: left;
	width: 445px;
	height: 32px;
	color: #ccc;
	padding-left: 10px;
	border: 2px solid #b1191a;
	outline: none;
}
.search button {
	float: left;
	width: 82px;
	height: 36px;
	font-size: 16px;
	background-color: #b1191a;
	color: #fff;
	border: none;
	line-height: 36px;
}
.hotwords {
	position: absolute;
	top: 60px;
	left: 348px;
}
.hotwords a {
	margin: 0 10px;
}
.hotwords_one {
	color: #b1191a;
}
.shopcar {
	position: absolute;
	top: 25px;
	right: 80px;
	width: 138px;
	height: 34px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 34px;
}
.car {
	color: #b1191a;
	font-family: 'icomoon';
}
.shopcar_gt {
	font-family: 'icomoon';
}
.count {
	position: absolute;
	top: -8px;
	left: 97px;
	height: 14px;
	background-color: #e60012;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 3px;
	line-height: 14px;
	border-radius: 7px 7px 7px 0;
}
.body {
	border-bottom: 2px solid #b1191a;
}
.nav {
	height: 45px;
}
.dt {
	width: 209px;
	height: 45px;
	font-size: 16px;
	color: #fff;
	background-color: #b1191a;
	text-align: center;
	line-height: 45px;
}
.dd {
	width: 209px;
	height: 465px;
	background-color: #e60012;
}
.dd li {
	height: 31px;
	padding: 0 10px;
	line-height: 31px;
}
.dd li a,
.dd li i {
	font-size: 14px;
	color: #fff;
}
.dd li i {
	float: right;
}
.dd li:hover {
	background-color: #fff;
	margin-left: 1px;
}
.dd li:hover a {
	color: #e60012;
}
.nav_sou ul li {
	float: left;
	line-height: 45px;
	padding: 0 25px;
}
.nav_sou li a {
	font-size: 16px;
}
.foot {
	height: 416px;
	background-color: #f1f1f1;
	padding-top: 30px;
}
.mod_service {
	height: 80px;
}
.mod_service li {
	float: left;
	width: 20%;
	height: 79px;
	border-bottom: 1px solid #ccc;
} 
.mod_service li i {
	float: left;
	width: 50px;
	height: 50px;
	background: url(../img/icons.png) no-repeat;
	margin: 0 5px 0 30px;
}
.mod_service .mod_icons_one {
	background-position: -253px -3px;
}
.mod_service .mod_icons_two {
	background-position: -254px -54px;
}
.mod_service .mod_icons_three {
	background-position: -256px -106px;
}
.mod_service .mod_icons_four {
	background-position: -257px -157px;
}
.mod_service .mod_icons_five {
	background-position: -258px -209px;
}
.mod_service .mod_p {
	font-size: 10px;
	color: #333;
}
.mod_service li p {
	margin-top: 5px;
}
.help {
	height: 187px;
	border-bottom: 1px solid #ccc;
}
.help dl {
	float: left;
	padding: 20px 60px;
}
.help dd a {
	font-size: 12px;
	color: #666;
	padding-top: 3px;
}
.help dd a:hover {
	color: red;
}
.help_erweima {
	text-align: center;
}
.help_erweima a img {
	margin: 5px 0;
}
.copyright {
	text-align: center;
}
.copyright_one {
	margin: 20px 0;
}